<div class="container p-5">
    <div class="row">
        <div class="col-sm-4 offset-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h6>Digite cedula</h6>
                </div>
                <div class="card-body">
                    <form action="/firmas/valid" method="POST">
                        <div class="form-group ">
                            Cedula
                            <input type="text" class="form-control" name="cedula" placeholder="Cedula"
                            title="Recibe solo numeros" pattern="^([0-9]){5,10}$" autofocus required>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-info float-right">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>